body {
  background-color: #354f52;
}
h1 {
  color: #84a98c;
  text-align: center;
}
footer {
  color: #cad2c5;
  opacity: 0.8;
  text-align: center;
  font-family: sans-serif;
  font-size: 13px;
}
a {
  text-decoration: none;
  color: #84a98c;
  font-weight: bold;
}
.container {
  background-color: #cad2c5;
  display: block;
  margin: 20px auto;
  max-width: 600px;
}
